<h1>Budget Planner</h1>

<div class="container">
    
    <table class="table">
        <tr>
            <th scope="col">Expense Catagory</th>
            <th scope="col">Planned Amount</th>
            <th scope="col">Actual Ammount</th>
            <th scope="col">Edit/Delete</th>
        </tr>
        <% @expenses.each  do |expense| %>
            <tr>
                <td>
                <%= expense.name %>
                </td>

                <td>
                <%= expense.planned_amount %>
                </td>

                <td>
                <%= expense.actual_ammount %>
                </td>

                <td>
                <%= link_to "Edit", edit_expense_path(expense), class: 'btn btn-warning' %>
                </td>
            </tr>
        <% end %>
        </table>
</div>

