<div class="row">
    
        <table class="table">
        <tr>
            <th scope="col">Expense Catagory</th>
            <th scope="col">Planned Amount</th>
            <th scope="col">Actual Ammount</th>
        </tr>
        <tr>
            <td>
            <%= @expense.name %>
            </td>

            <td>
            <%= @expense.planned_amount %>
            </td>

            <td>
            <%= @expense.actual_ammount %>
            </td>
        </tr>
        </table>


    </div>
